body {
  background-color: gold;
  margin-bottom: 100px;
}

li {
  padding: 5px;
  margin: 5px;
  width: 100%;
  border: 1px solid black;
  background-color: lightgrey;
}

ul {
  list-style-type: none;
}

button {
  list-style-type: none;
  background-color: orange;
}

input {
  width: 250px;
}

.list-item {
  width: 250px;
  display: inline-block
}

.burger_img {
  height: 200px;
  width: 200px;
}
