body {
  background-color: gold;
}

li {
  border: 1px solid black;
  background-color: lightgrey;
  margin-right:30px;
  margin-bottom:5px;
  text-align: left;
  height:40px;
  padding:3px;
}

ul {
  list-style-type: none;
}

button {
  background-color: orange;
}

input {
  width: 250px;
}

.list-item {
  display: inline-block;

}

.burger-btn{
  text-align: right;
}



.burger_img {
  height: 200px;
  width: 200px;
}
